extends ./partials.pug
block content
	nav#mainNav.navbar.navbar-default.navbar-fixed-top
			.navbar-header
						|
						a.navbar-brand.page-scroll(href='/') Home
						a.navbar-brand.page-scroll.try(href='/destination') Travel Next
	section.imagebackground
		div(class="image medium ", style='background-image: url('+ country.image+');')
		#location #{country.country}
			img#icon(src='/../img/icon.png')
	section.description
		.container
			.row
				.col-md-4.middle
					.polaroid-images
						img(src=country.poloroid height='200',class="img-responsive")
						p #{country.caption}
				.about
					h3.section-heading About #{country.city}
					p.text-left #{country.description}
	
	.imagebackground
		div(class="image medium ", style='background-image: url('+ country.image+');')
					

	